.header1 {
    height: 13vh;
    width: 100%;
    display: flex;
    position: relative;
    padding-bottom: 2vh;
    background-color: rgb(23,79,130);
} 

.logo1 {
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* height: inherit; */
    padding-left: 2vw;
    padding-right: 2vw;
}
.Name1{
    height: inherit;
    background-size: contain;
    position: relative;
}

.colname{
    padding-top: 2vh;
    background-size: contain;
    height: max-content;
    width: fit-content;
    font-weight: bold;
    background-color: rgb(23,79,130);
    
}
.hiname{
    padding-top: 1vh;
    background-size: contain;
    height: fit-content;
    width: fit-content;
    font-weight: bold;    
}

.ltc1{
    padding-top: 2vh;
    padding-left: 8vw;
    font-size:30px;
}
.f1{
    flex:1;
}

.logbtn{
    border: none;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vh;
    margin-right: 2vw;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    background-color:rgb(2, 19, 36) ;
}

.logbtn:hover {
    box-shadow: 0 10px 20px 0 rgba(1, 2, 20, 0.24), 0 17px 50px 0 rgba(5, 3, 32, 0.19);
}

.regbtn{
    border: none;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vh;
    margin-right: 2vw;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    background-color:rgb(2, 19, 36) ;
}

.regbtn:hover{
    box-shadow: 0 10px 20px 0 rgba(1, 2, 20, 0.24), 0 17px 50px 0 rgba(5, 3, 32, 0.19);

}


.child {
    position: relative;
    background-size: contain;
    padding: right 10px;
}